{{#partial "content"}}
    <h4 class="success">Hero successfully created</h4>
    <p>Hero name is <h4><i>{{name}}</i></h4></p>
    <h4><a href="/squads">View all Squads</a></h4>

{{/partial}}
{{> layout.hbs}}