{{#partial "content"}}

    <div class="col-md-8">
        <h3>You will create a squad then add Heroes to the Squad</h3>
        <h4><a href="/squads-form">Create a Squad</a></h4>
    </div>
{{/partial}}
{{> layout.hbs}}
